<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информационно-справочная система лизинговой компании</title>
    <link rel="stylesheet" th:href="@{/css/style.css/}">
</head>
<body>
<div class="bg-image" style="background-image: url(); height: 100vh; overflow: auto">
<blockquote class="blockquote text-center"><h1>Клиенты лизинговой компании</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>Поиск клиента по любому критерию</h4>
            <form th:action="@{/}">
                <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
                <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
            </form>
        </div>
    </div>
    <table id="1" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID клиента</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Номер</th>
            <th scope="col">Балл</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leasing: ${listEntities}">
            <th scope="row" class="text-black" th:text="${leasing.id}">ID клиента</th>
            <th scope="row" class="text-black" th:text="${leasing.firstName}">Имя клиента</th>
            <th scope="row" class="text-black" th:text="${leasing.lastName}">Фамилия клиента</th>
            <th scope="row" class="text-black" th:text="${leasing.number}">Номер</th>
            <th scope="row" class="text-black" th:text="${leasing.score}">Балл</th>
            <td>
                <a th:href="@{'/edit/'+${leasing.id}}"><button type="button" class="btn btn-info">Редактировать</button> </a>
                <a th:href="@{'/delete/'+${leasing.id}}"><button type="button" class="btn btn-danger">Удалить</button> </a>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="text-black">
        <script type="text/javascript">
            function getRowsColumn(){
                let table = document.getElementById("1")
                let tBody = table.querySelector("tbody")
                const count = tBody.querySelectorAll("tr").length
                document.write("Количество клиентов в таблице: " + count)
            }
            getRowsColumn()
        </script>
    </p>
    <blockquote class="blockquote text-center">
        <a href="new">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Добавить студента</button>
        </a>
    </blockquote>
</div>


</body>
</html>